.Loading {
  display: inline-block;
  border: 3px solid #555;
  border-right-color: transparent;
  border-radius: 80%;
  animation: rotate 0.8s infinite linear;
  text-align: center;
  margin: auto;
  padding: auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
